/* !!! DEFAULT PAGE STYLING !!! */
body {
    background-image: url(images/checker_back.png);
    background-size: 75px 75px;
    background-attachment: fixed;
    padding-top: 50px;
}

h1 {
    color: white;
	/* styling done to override the properties of Bootstrap's 'h1' styling and return it to roughly its original form */
	font-family: 'Times New Roman', Times, serif;
	font-size: 2em;
	margin: 2% 0%;
	font-weight: bold;
}

.content-block {
    background-color: white;
    padding: 10px;
    border-style: ridge;
    border-radius: 8px;
    max-width: 80%;
    margin: auto;
}

.content-block p {
    padding-left: 10px
}

h1 {
    text-align: center;
    font-size: 50pt;
    text-shadow: 5px 5px black;
}

/* !!! HEADER STYLING !!! */
#swin-logo {
    max-width: 100%;
    max-height: 60px;
    float: left;
    margin-right: 15px;
    margin-left: 15px;
}

#header-block {
    /* margin creates distance between the header and the top menu */
    margin-top: 2%;
    max-width: 50%;
    border-width: thick;
    padding: 5px;
    /* font properties */
    font-size: 10pt;
    font-style: italic;
    /* aligns the image and text into the very center of the box at all times */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* !!! MENU STYLING !!! */
#menu {
    /* set position */
	float: left;
    display: block;
    text-align: center;
    
    /* set color */
    color: #7F3300;
    background-color: #FFBA44;
    text-decoration: none;
    
	/* stick the menu to the top-left of the page */
	position: fixed;
	top: 0;
    left: 0;
	width: 100%;
    
    /* ensures that the menu appears over all other elements */
    z-index: 1;
}

#menu a {
    display: block;
    text-align: center;
    float: left;
    padding: 15px;
    color: #7F3300;
    text-decoration: none;
    font-weight: bold;
}

/* when a link is hovered over, invert colors */
#menu a:hover {
    color: #FFBA44;
    background-color: #7F3300;
}

/* !!! FOOTER STYLING !!! */
#footer-block {
    padding: 5px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: 0;
    width: fit-content;
}

/* !!! PAGE SPECIFIC STYLING !!! */

/* !!! INDEX STYLING !!! */
#signs-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#youtube-video {
	/* adds scaling for smaller resolution web browsers */
	max-width: 100%;
	min-width: 20%;
	max-height: 100%;
	min-height: 20%;
}

/* !!! TOPIC 1 STYLING !!! */

/*image 1 changes*/
img.img1 {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Image 2 changes*/
img.img2 {
    width: 300px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Table and table content*/
.t1 {
    border: 2px solid black;
    font-style: oblique;
    font-size: 1.05em;
    margin-bottom: 1.2em;
    padding: 1.5em;
    margin-left: auto;
    margin-right: auto;
}

/*Change the attributes of captions*/
.fig {
    color: blue;
    font-style: italic;
    font-size: 0.9em;
    text-align: center;
}

/*Styling the aside heading*/
aside .asideh {
    font-weight: bold;
    font-size: 1.2em;
    margin-left: .5rem;
    margin-bottom: .5rem;
    color:rgb(138, 74, 31);
}

/*Styling the aside list*/
aside  li {
    font-weight: bold;
    font-size: 1.1em;
    color:#fca103
}

/*Styling the aside paragraph*/
aside .asidep {
    color:#fca103
}

/* start of topic 2 css*/
.useheading {
    text-align: left;
    font-size: 15pt;
    font-weight: bold;

}

.def-table, .def-tr, .def-th, .def-td{
    border: 2px solid black;
    border-collapse: collapse;
    font-size: 1.05em

}

.def-td, .def-th{
    padding: 4px
}

#blank-cell{
    background-color: #595959;
    opacity: 65%;
}

.green-td {
color:#4afc03;
}

.yellow-td {
color:#fca103;
}

.red-td {
    color:#fc0303;
}


#wb /* wb= whiteborder, this is purely an id to get white/clear table borders */ {
    margin: auto;
    border: white 1px;
}

#list-right {
    display: inline-block;
}

#list-left {
    display: inline-block;
}

img.webcookiepng {
    width: 190px;
    height: 140px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

img.utmacookie {
    width: 200px;
    height: 250px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    float: right;
    border: 3px solid #595959; /* gives a border as the image has a white background so you can see where the image ends*/
}

.bulletpt{
    list-style-type: circle;
}

/* !!! TOPIC 3 STYLING !!! */

#flexbox1 {
    display: flex;
    justify-content: space-between;
    clear: both;
    margin: 1% 0;
}

/* start of function section */
#function-p {
    width: 55%;
    padding-right: 2%;
}

figure.figure1 {
    float: right;
    width: 35%;
    text-align: center;
    margin-right: 5%;
    margin-bottom: 1%;
}

img.figure1 {
    width: 100%;
}

figcaption.figure1 {
    margin: auto;
    width: fit-content;
    font-style: italic;
    color:rgb(138, 74, 31)

}
/* end of function section */

/* start of process section */
#process {
    flex: 1;
    margin: 0 1%;
    border-right:black solid 1px;
}

#process h3 {
    width: fit-content;
}

#process-flexbox {
    display: flex;
    justify-content: space-between;
}

#process-flexbox ol {
    flex-basis: 40%;
}

#process-flexbox li {
    margin-top: 13%;
}

#process-flexbox figure {
    flex-basis: 55%;
}

.figure2 {
    width: 100%;
    margin: 0 3%;
    font-style: italic;
    color:rgb(138, 74, 31);
}
/* end of process section */ 

/* start of main-use section */
#main-use {
    flex: 1;
    margin: 0 1%;
    
}

#table-uses {
    border-spacing: 0 15px;
}

#table-uses td {
    padding: 3%;
}

.td-text {
    width: 50%;
}

img.authentication {
    margin: 5%;
}

img.personalisation {
    margin: 5%;
}

img.tracking {
    margin: 5%;
}
/* end of main-use section */

/* start of where-used-stored section */
aside {
    width: 40%;
    box-shadow: inset 5px 0px 5px -5px black;
    float: right;
    color: rgb(138, 74, 31);
    font-style: italic;
}

aside p {
    margin: .5rem;
}

#cookie-id {
    background-color: rgba(156, 83, 23, 0.815);
    color: white;
    padding: 5px;
    border-style: ridge;
    border-radius: 8px;
    font-weight: bold;
}
/* end of where-used-stored section */

/* !!! TOPIC 4 STYLING !!! */

#alternatives{
    list-style-type: upper-roman;
}

.alternative-sub{
    text-align: center;
}
.alternative-table{
    margin-left: auto;
    margin-right: auto;
}
.alternative-table, .alternative-tr, .alternative-th, .alternative-td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.5em;

}
aside h3{
    margin: .5rem;
}

.alternative-th{
    text-align: center;
}
#alt-caption{
    font-style: italic;
    color: lightskyblue;
}

/* !!! QUIZ STYLING !!! */

fieldset { margin-bottom: 15px; }

/* make questions smaller, to help distinguish them from  */
fieldset fieldset legend { font-size: 14pt; }
