/* !!! DEFAULT PAGE STYLING !!! */
body {
    background-image: url(images/checker_back.png);
    background-size: 75px 75px;
    background-attachment: fixed;
    padding-top: 50px;
}

h1 {
    color: white;
	/* styling done to override the properties of Bootstrap's 'h1' styling and return it to roughly its original form */
	font-family: 'Times New Roman', Times, serif;
	font-size: 2em;
	margin: 2% 0%;
	font-weight: bold;
}

.content-block {
    background-color: white;
    padding: 10px;
    border-style: ridge;
    border-radius: 8px;
    max-width: 80%;
    margin: auto;
}

.content-block p {
    padding-left: 10px
}

h1 {
    text-align: center;
    font-size: 50pt;
    text-shadow: 5px 5px black;
}

/* !!! HEADER STYLING !!! */
#swin-logo {
    max-width: auto;
    max-height: 60px;
    float: left;
    margin-right: 15px;
    margin-left: 15px;
}

#header-block {
    /* margin creates distance between the header and the top menu */
    margin-top: 2%;
    max-width: 50%;
    border-width: thick;
    padding: 5px;
    /* font properties */
    font-size: 10pt;
    font-style: italic;
    /* aligns the image and text into the very center of the box at all times */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* !!! MENU STYLING !!! */
#menu {
    /* set position */
	float: left;
    display: block;
    text-align: center;
    
    /* set color */
    color: #7F3300;
    background-color: #FFBA44;
    text-decoration: none;
    
	/* stick the menu to the top-left of the page */
	position: fixed;
	top: 0;
    left: 0;
	width: 100%;
    
    /* ensures that the menu appears over all other elements */
    z-index: 1;
}

#menu a {
    display: block;
    text-align: center;
    float: left;
    padding: 15px;
    color: #7F3300;
    text-decoration: none;
    font-weight: bold;
}

/* when a link is hovered over, invert colors */
#menu a:hover {
    color: #FFBA44;
    background-color: #7F3300;
}

/* !!! FOOTER STYLING !!! */
#footer-block {
    padding: 5px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: 0;
    width: fit-content;
}

/* !!! PAGE SPECIFIC STYLING !!! */

/* !!! INDEX STYLING !!! */
#signs-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#youtube-video {
	/* adds scaling for smaller resolution web browsers */
	max-width: 100%;
	min-width: 20%;
	max-height: 100%;
	min-height: 20%;
}

/* !!! TOPIC 1 STYLING !!! */

/*image 1 changes*/
img.img1 {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Image 2 changes*/
img.img2 {
    width: 300px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Table and table content*/
.t1 {
    border: 2px solid black;
    font-style: oblique;
    font-size: 1.05em;
}

/*Change the attributes of captions*/
.fig {
    color: blue;
    font-style: italic;
    font-size: 0.9em;
    text-align: center;
}

/* !!! TOPIC 3 STYLING !!! */

/* start of function section */
#function {
    border: red 1px solid;
}

.how-cs-work{
    float: left;
    width: 40%;
    height: 50%;
    margin: 2% 2%;
    border: red 1px solid;
}
    
figure.figure1 {
    float: right;
    width: 45%;
    max-width: 100%;
    height: 70%;
    border: red 1px solid;
}

img.figure1 {
    float: right;
    width: fit-content;
    max-width: 100%;
    height: 50%;
}

figcaption.figure1 {
    width: fit-content;
    text-align: center;
}

aside .asideh {
    font-size: 1.2em;
    margin-left: .5rem;
    margin-bottom: .5rem;
    color: red;

}

aside  li {
    font-size: 1.1em;
    color: blue;
}

aside .asidep {
    color: blue;

}
/* end of function section */
/* !!! TOPIC 4 STYLING !!! */


#alternatives{
    list-style-type: upper-roman;
}

.alternative-sub{
    text-align: center;
}
.alternative-table{
    margin-left: auto;
    margin-right: auto;
}
.alternative-table, .alternative-tr, .alternative-th, .alternative-td{
    border: 1px solid black;
    border-collapse: collapse;

}
/* start of process section */
#process {
    float: left;
    width: 45%;
    border: red 1px solid;
}

#process h3 {
    width: fit-content;
    border: red 1px solid;
}

.cookies-process {
    width: 50%;
    display: block;
    border: red 1px solid;

}

.figure2 {
    clear: left;
    width: 50%;
    border: red 1px solid;
} 

img.figure2 {
    clear: left;
    width: 50%;
    border: red 1px solid;
}
/* end of process section */ 

/* start of main-use section */
#main-use {
    float: right;
    width: 50%;
    border: red 1px solid;
}

#main-use h3 {
    width: fit-content;
    width: 50%;
    border: red 1px solid;
}

dl {
    margin: auto;
    width: fit-content;
    border: red 1px solid;
}

dt {
    font-weight: bold;
    font-size: large;
    
}

dd {
    background: none no-repeat left top;
    padding: 20px 50px 20px;
    background: none no-repeat left top;
	margin:0 0 2em 0;
	line-height:1.5em;	
    text-align: justify;
    position: relative;
    top: 50%;
}

img.authentication {
    float: left;
    margin: 2%;
}

img.personalisation {
    float: left;
    margin: 2%;
}

img.tracking {
    float: left;
    margin: 2%;
}
/* end of main-use section */

/* start of where-used-stored section */
#where-used-stored {
    clear: both;
    border: red 1px solid;
}

aside {
    width: 40%;
    box-shadow: inset 5px 0px 5px -5px black;
    float: right;
    color: rgb(138, 74, 31);
    font-style: italic;
}

aside p {
    margin: .5rem;
}

#cookie-id {
    background-color: rgba(156, 83, 23, 0.815);
    color: white;
    padding: 5px;
    border-style: ridge;
    border-radius: 8px;
    font-weight: bold;
}
/* end of where-used-stored section */

/* !!! QUIZ STYLING !!! */

fieldset { margin-bottom: 15px; }

/* make questions smaller, to help distinguish them from  */
fieldset fieldset legend { font-size: 14pt; }